name: $(BuildDefinitionName)_$(Date:yyyyMMdd)$(Rev:.rr)

schedules:
  - cron: "0 0 * * *"
    displayName: Daily midnight build
    branches:
      include:
      - master
    always: true

resources:
  repositories:
  - repository: OpenAstronomy
    type: github
    endpoint: sunpy
    name: OpenAstronomy/azure-pipelines-templates
    ref: master

trigger:
  branches:
    include:
    - '*'
    exclude:
    - '*backport*'
  tags:
    include:
    - 'v*'
    exclude:
    - '*dev*'
    - '*pre*'
    - '*post*'

pr:
  autoCancel: true

stages:
  jobs:
  - stage: Test
    - template: run-tox-env.yml@OpenAstronomy
      parameters:
        default_python: '3.8'
        submodules: false

        envs:
          - linux: codestyle
            name: style_check
            pytest: false
            libraries: {}

          - linux: build_docs
            pytest: false

  # Don't build dists on PRs
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
    - stage: Release
      dependsOn: Test
      jobs:
      - template: publish.yml@OpenAstronomy
        parameters:
          # Only Upload to PyPI on tags
          ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:
            pypi_connection_name : 'PyPI'
          submodules: false
          targets:
            - wheel_universal
            - sdist
